<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"
      th:fragment="HeaderFragment">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Parchment</a>
            <th:block sec:authorize="hasRole('ROLE_USER')">
            <ul style="margin-bottom: 0px; list-style: none">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-user-o" id="user-ico" aria-hidden="true" style="color: white;"></i></a>
                        <div class="dropdown-menu" id="dropdown-menu" style="right:0;left:auto;">
                            <a class="dropdown-item" href="/">내 책 목록</a>
                            <a class="dropdown-item" href="/book/uploadForm">책 올리기</a>
                            <a class="dropdown-item" href="/logout">로그아웃</a>
                        </div>
                </li>
            </ul>
            </th:block>
        </div>
    </nav>
</html>

