@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
h1 {font-family: 'Noto Sans KR', sans-serif;}
html, body{
    height: 100%;
    background-color: #262626;
}
#btn_join {
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    width: 100%;
}
#btn_dupChk {position: absolute;right: 15px;}
#id {display: inline-block;}
.lbl {font-size: 0.8rem; margin-bottom: 0; margin-left: 1rem;}
#lblNum {margin-top: 1rem;}
#pwdLabelBox {display: none;}
#lblId{display:none; color: red; margin-top: 0.7rem;}
#lblrepwd {display: none; color: red; margin-top: 0.7rem;}
#lblSpecial{font-size: 0.7rem;}
.form-control {background-color: #dedede}