<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      layout:fragment="Content">
<head>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
  <div class="d-flex my-5 my-height">
      <div th:if="${#lists.isEmpty(member.books)}" class="container align-self-center">
        <div class="d-flex justify-content-center" style="font-family: 'Noto Sans KR', sans-serif; color: #dedede">
          책이 한 권도 없어요...ㅜㅜ
        </div>
        <div id="uploadLink" class="d-flex justify-content-center mt-3" style="font-family: 'Noto Sans KR', sans-serif;text-decoration: underline #007bff;">
          <a href="/book/uploadForm">책 업로드 하러 가기</a>
        </div>
      </div>
      <div th:if="${!#lists.isEmpty(member.books)}" id="book-list" class="container">
          <div class="row">
            <div class="col-md-2 my-5 book" th:each="book: ${member.books}">
                <div class="my-2 thumbnail-box">
                    <div th:if="${!book.pdf.isConverted}" class="loading">
                        <i class="fa fa-spinner loading-ico" aria-hidden="true"></i>
                    </div>
                    <div th:if="${!book.pdf.isConverted}" class="loading-percent">
                        <p id="percent-lbl"></p>
                        <img src onerror='intervalControl(this)'>
                    </div>
                    <img th:if="${book.thumbnail != null}" th:src="${book.thumbnail.imgPath}" class="book-thumbnail">
                    <img th:if="${book.thumbnail == null}" src="/img/white.png" class="book-thumbnail">
                </div>
              <div th:text="${book.title}" class="book-lbl"></div>
              <input type="hidden" th:value="${book.uuid}">
            </div>
          </div>
      </div>
  </div>
</body>
</html>