<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      layout:fragment="Content">
<head>
    <script src="/js/viewer.js"></script>
    <link rel="stylesheet" href="/css/viewer.css"/>
</head>
<body>
    <input type="hidden" id="uuid" th:value="${uuid}">
    <div class="d-flex justify-content-center" id="page">
        <div class="align-self-center">
            <div class="row" id="pagesBox">
                <div class="arrowBox" id="btn_previous"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></div>
                <div class="arrowBox" id="btn_next"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></div>
                <div class="col-xxl-6 mr-5" id="page1Box">
                    <img id="page1">
                </div>
                <div class="col-xxl-6" id="page2Box">
                    <img id="page2">
                </div>
            </div>
        </div>
    </div>
</body>
</html>